<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbarUsuarios.ejs') %>
<div class="container">
    <hr>
    <div class="jumbotron">
        <h1 class="display-4">BOLETINS DO PACIENTE</h1>
        
    
      </div>
    <hr>
    
    <% bulletins.forEach(bulletin => { %>
       
        <div class="card">
            <div class="card-header">
                <!--<h2><%= bulletin.patient.nome %></h2>-->

                
                <h2><%= bulletin.data %></h2>
                
               
            </div>
            <div class="card-body">
                <a href="patients/<%=bulletin.id%>" class="btn btn-success">vizualizar</a>
            </div>
           
        </div>
        <br>
    <% }) %>

</div>
   


